#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

#baggrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Baggrund_Tegnebr%C3%A6t%201.png);
    background-size: 100%;
    z-index: 1;


}

#mellemgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Mellemgrund_Tegnebr%C3%A6t%201.png);
    background-size: 100%;
    position: absolute;
    top: 0vw;
    z-index: 1;

}

#forgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Forgrund_Tegnebr%C3%A6t%201.png);
    background-size: 100%;
    position: absolute;
    top: 0vw;
    z-index: 3;

}

#krukke {
    width: 20vw;
    height: 10vw;
    background-image: url(Krukke%20med%20guld-01.png);
    background-size: 100%;
    position: absolute;
    top: 47vw;
    left: 68vw;
    z-index: 2;


}




#kvinde_container {
    position: absolute;
    bottom: -14.3vw;
    left: 5vw;
    z-index: 1;

}

#kvinde_sprite {
    background-image: url(Spritesheet%20kvinde%20uden%20farve_Tegnebr%C3%A6t%201.svg);
    background-size: 800% 100%;
    width: 30vw;
    height: 42.86vw;
    transform: scale(0.7);
}


.kvinde_move {
    animation-name: kvinde_move_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes kvinde_move_kf {
    0% {
        left: 0vw;
    }

    25% {
        left: 10vw;
    }

    50% {
        left: 20vw;

    }

    75% {
        left: 10vw;
    }

    100% {
        left: 0vw;
    }

}

.kvinde_gaer {
    animation-name: kvinde_gaer_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}

@keyframes kvinde_gaer_kf {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: 800% 0%;
    }
}



#mand_container {
    position: absolute;
    bottom: -11.6vw;
    left: 35vw;
    z-index: 4;

}


.mand_move {
    animation-name: mand_move_kf;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 0;

}

@keyframes mand_move_kf {
    0% {
        left: -20vw;
    }
    50% {
        left: 0vw;
    }
    80% {
        left: 15vw;
    }
    100% {
        left: 30vw;
    }
}

#mand_sprite_1 {
    background-image: url(Spritesheet%20mand%20uden%20farve_Tegnebr%C3%A6t%201.svg);
    background-size: 800% 100%;
    width: 30vw;
    height: 42.86vw;
    transform: scale(-1, 1)
}


.mand_gaer {
    animation-name: mand_gaer_kf;
    animation-duration: 1s;
    animation-iteration-count: 6;
    animation-timing-function: steps(8);


}

@keyframes mand_gaer_kf {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: 800% 0%;
    }
}

#mand_sprite_2 {
    position: absolute;
    bottom: 5.6vw;
    left: 5vw;
    z-index: 4;
}


.mand_staer {
    background-image: url(Mand%20350x500-01.svg);
    background-size: 100%;
    width: 20vw;
    height: 30vw;
    transform: scale(0.8)
}
