#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

#baggrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Baggrund_Tegnebr%C3%A6t%201.png);
    background-size: 100%;
    z-index: 1;


}

#mellemgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Mellemgrund_Tegnebr%C3%A6t%201.png);
    background-size: 100%;
    position: absolute;
    top: 0vw;
    z-index: 1;

}

#forgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Forgrund_Tegnebr%C3%A6t%201.png);
    background-size: 100%;
    position: absolute;
    top: 0vw;
    z-index: 3;

}


.knap {
    width: 20vw;
    height: 10vw;
    position: absolute;
    bottom: 20vw;
    border: 2px solid white;
    background-size: 100%;
    text-align: center;
    line-height: 9vw;
    font-size: 3vw;
    font-family: monospace;
    color: white;
    z-index: 4;
}


#venstre {
    left: 29vw;
    bottom: 30vw;
}

#hojre {
    left: 50vw;
    bottom: 30vw;
}

#krukke {
    width: 20vw;
    height: 10vw;
    background-image: url(Krukke%20med%20guld-01.png);
    background-size: 100%;
    position: absolute;
    top: 47vw;
    left: 68vw;
    z-index: 2;


}

#kvinde_container {
    position: absolute;
    bottom: -14.3vw;
    left: 5vw;
    z-index: 1;

}

#kvinde_sprite {
    background-image: url(Spritesheet%20kvinde%20uden%20farve_Tegnebr%C3%A6t%201.svg);
    background-size: 800% 100%;
    width: 30vw;
    height: 42.86vw;
    transform: scale(0.7);
}


.kvinde_move {
    animation-name: kvinde_move_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes kvinde_move_kf {
    0% {
        left: 0vw;
    }

    25% {
        left: 10vw;
    }

    50% {
        left: 20vw;

    }

    75% {
        left: 10vw;
    }

    100% {
        left: 0vw;
    }

}

.kvinde_gaar {
    animation-name: kvinde_gaar_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}

@keyframes kvinde_gaar_kf {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: 800% 0%;
    }
}














#mand_container {
    position: absolute;
    bottom: -11.6vw;
    z-index: 4;

}


.mand_move {
    animation-name: mand_move_kf;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes mand_move_kf {
    0% {
        left: -20vw;
    }
    50% {
        left: 0vw;
    }
    80% {
        left: 15vw;
    }
    100% {
        left: 30vw;
    }
}

#mand_sprite {
    background-image: url(Spritesheet%20mand_Tegnebr%C3%A6t%201.svg);
    background-size: 800% 200%;
    width: 30vw;
    height: 42.86vw;

}


.mand_gaar {
    animation-name: mand_gaar_kf;
    animation-duration: 1s;
    animation-iteration-count: 6;
    animation-timing-function: steps(8);
    transform: scale(-1, 1)
}

@keyframes mand_gaar_kf {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: 800% 0%;
    }
}



.mand_staar {
    animation-name: mand_staar_kf;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
    animation-duration: 1s;
}

@keyframes mand_staar_kf {
    0% {
        left: 30vw;
    }
    100% {
        left: 30vw;
    }
}



.mand_gaar_venstre {
    animation-name: mand_gaar_venstre_kf;
    animation-duration: 1s;
    animation-iteration-count: 6;
    animation-timing-function: steps(8);
}

@keyframes mand_gaar_venstre_kf {
    0% {
        background-position: 800% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.mand_move_venstre {
    animation-name: mand_move_venstre_kf;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

@keyframes mand_move_venstre_kf {
    0% {
        left: 30vw;
    }
    100% {
        left: 15vw;
    }

}

.mand_staar_venstre {
    animation-name: mand_staar_venstre_kf;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    transform: scaleX(-1, 1);
}

@keyframes mand_staar_venstre_kf {
    0% {
        left: 15vw;
    }
    100% {
        left: 15vw;
    }
}

.mand_staar_venstre_sprite {
    background-position: 0% -100%;
}




.mand_gaar_hojre {
    animation-name: mand_gaar_hojre_kf;
    animation-duration: 1s;
    animation-iteration-count: 4;
    animation-timing-function: steps(8);
    transform: scale(-1, 1)
}

@keyframes mand_gaar_hojre_kf {
    0% {
        background-position: 800% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.mand_move_hojre {
    animation-name: mand_move_hojre_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;

}

@keyframes mand_move_hojre_kf {
    0% {
        left: 30vw;
    }
    100% {
        left: 55vw;
    }

}




.spillet {
    width: 18vw;
    height: 22vw;
    position: absolute;
    bottom: 25vw;
    left: 70vw;
    z-index: 40;
}



.game {
    width: 5vw;
    height: 7vw;
    background-image: url(Coin-01.svg);
    background-size: 100%;
    position: absolute;


    animation-name: puls_kf;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes puls_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}


.coin_1 {
    left: 0vw;
    bottom: 15vw;
}

.coin_2 {
    left: 5vw;
    bottom: 15vw;
}

.coin_3 {
    left: 10vw;
    bottom: 15vw;

}

.coin_4 {
    left: 0vw;
    bottom: 10vw;

}

.coin_5 {
    left: 5vw;
    bottom: 10vw;

}

.coin_6 {
    left: 10vw;
    bottom: 10vw;

}

.coin_7 {
    left: 0vw;
    bottom: 5vw;

}

.coin_8 {
    left: 5vw;
    bottom: 5vw;

}

.coin_9 {
    left: 10vw;
    bottom: 5vw;

}
